html{
    height: 100%;
    background: linear-gradient(#010101 , #101010 );
    background-attachment: fixed;
}
body{
    text-align: center;
    text-shadow: 4px 4px 5px black;
    color: #ddffdb;
    font-family: 'League Gothic';
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
#home {
    animation-name: home;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes home {
    from {color: #680000;}
    to {color: rgb(68, 0, 0);}
  }
@keyframes example {
    from {color: rgb(132, 198, 218);}
    to {color: rgb(47, 110, 146);}
  }
a[href]{
    color: cadetblue;
    cursor: grab;
    text-decoration: none;
    font-size: 200%;
    
    
}
h1{
    font: size 300%;
    margin: auto;

}
h2{
    font-size: 200%;
    margin: auto;
}

#title{
    text-align: center;
    box-shadow: 0px 0px 20px black;
    border-radius: 20px;
    margin-left: +20%;
    margin-right: +20%;
    padding-bottom: 2%;
   
    background: radial-gradient(#002402,#001102);
    
}
video{
    max-width: 100%;
    height: auto;
}